@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
    --Lexend-Deca:'Lexend Deca', sans-serif;
    --Big-Shoulders-Display: 'Big Shoulders Display', cursive;
}


*{
    margin: 0;
    padding: 0;
}


.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    border: 1rem solid red;
    background-color: var(--Very-light-gray-background-headings-buttons);
}


.card{
    display: flex;
    flex-direction: row;
    max-width: 45rem;
    min-height: 25rem;
}

h1{
    font-family: var(--Big-Shoulders-Display);
    color: var(--Very-light-gray-background-headings-buttons);
    font-size: 1.5rem;
    margin: 1rem;
}

p{
    font-family: var(--Lexend-Deca);
    color: var(--Transparent-white-paragraphs);
    font-size: 0.9375rem;
    margin: 1rem 1rem 3rem 1rem
}

.sedan-card{
    background-color: var(--Bright-orange);
    border-radius: 1rem 0 0 1rem;
}

.sedan-card-img{
    background-image: url(images/icon-sedans.svg);
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    min-height: 25%;
    max-width: 55%;
    margin: 1rem;
}

.sedan-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    color: var(--Bright-orange);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
}

.suvs-card{
    background-color: var(--Dark-cyan);
}

.suvs-card-img{
    background-image: url(images/icon-suvs.svg);
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    min-height: 25%;
    max-width: 55%;
    margin: 1rem;
}

.suvs-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    color: var(--Dark-cyan);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
}

.luxury-card{
    background-color: var(--Very-dark-cyan) ;
    border-radius: 0 1rem 1rem 0;
}

.luxury-card-img{
    background-image: url(images/icon-luxury.svg);
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    min-height: 25%;
    max-width: 55%;
    margin: 1rem;
}


.luxury-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    color: var(--Very-dark-cyan);
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}



@media (max-width: 600px) {
    .luxury-card {
        background-color: var(--Bright-orange);
    }
}