@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
    --Lexend-Deca:'Lexend Deca', sans-serif;
    --Big-Shoulders-Display: 'Big Shoulders Display', cursive;
}


*{
    margin: 0;
    padding: 0;
}


.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    background-color: var(--Very-light-gray-background-headings-buttons);
}


.card{
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    min-height: 24rem;
}


h2{
    font-family: var(--Big-Shoulders-Display);
    color: var(--Very-light-gray-background-headings-buttons);
    font-size: 2rem;
    margin: 2rem;
}

p{
    font-family: var(--Lexend-Deca);
    color: var(--Transparent-white-paragraphs);
    font-size: 0.8125rem;
    margin: 1rem 3.5rem 3rem 2rem;
    line-height: 1rem;
}

.sedan-card{
    background-color: var(--Bright-orange);
    border-radius: 0.3125rem 0 0 0.3125rem;
}

.sedan-card-img img{
    padding: 2rem 2rem 0 2rem;
    block-size: 2rem;
}

.sedan-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0 2rem 0 2rem;
    color: var(--Bright-orange);
    border: 0;
    line-height: 2.5;
    padding: 0 1.25rem;
}

.suvs-card{
    background-color: var(--Dark-cyan);
}

.suvs-card-img img{
    padding: 2rem 2rem 0 2rem;
    block-size: 2rem;

}

.suvs-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0 2rem 0 2rem;
    color: var(--Dark-cyan);
    border: 0;
    line-height: 2.5;
    padding: 0 1.25rem;
}

.luxury-card{
    background-color: var(--Very-dark-cyan) ;
    border-radius: 0 0.3125rem 0.3125rem 0;
}

.luxury-card-img img{
    padding: 2rem 2rem 0 2rem;
    block-size: 2rem;
}


.luxury-card-button{
    background-color: var(--Very-light-gray-background-headings-buttons);
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 0 2rem 0 2rem;
    color: var(--Very-dark-cyan);
    border: 0;
    line-height: 2.5;
    padding: 0 1.25rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}



@media (max-width: 600px) {
    /* .luxury-card {
        background-color: var(--Bright-orange);
    } */
    .card{
        display: flex;
        flex-direction: column;
        margin-left: 1.7rem;
    }

    .main-container {
        flex-direction: column;
        margin-top: 5.3rem;
        justify-content:left;
        align-content:flex-end;
    }

    html{
        background-color: var(--Very-light-gray-background-headings-buttons);
    }
    .sedan-card{
        width: 85%;
        border-radius: 0.3125rem 0.3125rem 0 0;
    }

    .suvs-card{
        width: 85%;
    }

    .luxury-card{
        border-radius: 0 0 0.3125rem 0.3125rem;
        width: 85%;
    }

    .luxury-card-button, .suvs-card-button, .sedan-card-button{
        width: 35%;
        margin-bottom: 1.5rem;
    }
}